In [1]:
import pandas

In [31]:
# %load hello.py
import pandas

if __name__ == "__main__":
	data = pandas.read_csv("MODIS_C6_USA_contiguous_and_Hawaii_7d.csv")
    
print(data)
data['latlongtuple'] = list(zip(data.latitude, data.longitude))
data

      latitude  longitude  brightness  scan  track    acq_date  acq_time  \
0       19.226    -71.786       300.8   1.4    1.2  2020-03-21       320
1       19.268    -71.874       300.8   1.4    1.2  2020-03-21       320
2       19.274    -71.882       301.4   1.4    1.2  2020-03-21       320
3       20.003    -75.678       340.7   1.0    1.0  2020-03-21       320
4       20.001    -75.688       330.4   1.0    1.0  2020-03-21       320
...        ...        ...         ...   ...    ...         ...       ...
4919    17.950    -98.563       329.6   1.0    1.0  2020-03-28      1715
4920    18.173   -100.205       330.0   1.0    1.0  2020-03-28      1715
4921    18.161   -100.247       336.1   1.0    1.0  2020-03-28      1715
4922    17.612    -98.769       331.7   1.0    1.0  2020-03-28      1715
4923    17.610    -98.759       322.7   1.0    1.0  2020-03-28      1715

     satellite  confidence version  bright_t31   frp daynight
0            T          34  6.0NRT       290.5   7.6        N
1            T          15  6.0NRT       289.9   6.8        N
2            T          39  6.0NRT       289.4   7.8        N
3            T         100  6.0NRT       295.6  44.2        N
4            T         100  6.0NRT       295.4  28.6        N
...        ...         ...     ...         ...   ...      ...
4919         T          70  6.0NRT       312.5  12.6        D
4920         T          59  6.0NRT       310.2  15.1        D
4921         T          79  6.0NRT       312.2  19.8        D
4922         T          78  6.0NRT       306.7  18.5        D
4923         T          56  6.0NRT       307.6   7.6        D

[4924 rows x 13 columns]

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,confidence,version,bright_t31,frp,daynight,latlongtuple
0,19.226,-71.786,300.8,1.4,1.2,2020-03-21,320,T,34,6.0NRT,290.5,7.6,N,"(19.226, -71.786)"
1,19.268,-71.874,300.8,1.4,1.2,2020-03-21,320,T,15,6.0NRT,289.9,6.8,N,"(19.268, -71.874)"
2,19.274,-71.882,301.4,1.4,1.2,2020-03-21,320,T,39,6.0NRT,289.4,7.8,N,"(19.274, -71.882)"
3,20.003,-75.678,340.7,1.0,1.0,2020-03-21,320,T,100,6.0NRT,295.6,44.2,N,"(20.003, -75.678)"
4,20.001,-75.688,330.4,1.0,1.0,2020-03-21,320,T,100,6.0NRT,295.4,28.6,N,"(20.000999999999998, -75.688)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4919,17.950,-98.563,329.6,1.0,1.0,2020-03-28,1715,T,70,6.0NRT,312.5,12.6,D,"(17.95, -98.56299999999999)"
4920,18.173,-100.205,330.0,1.0,1.0,2020-03-28,1715,T,59,6.0NRT,310.2,15.1,D,"(18.173, -100.205)"
4921,18.161,-100.247,336.1,1.0,1.0,2020-03-28,1715,T,79,6.0NRT,312.2,19.8,D,"(18.160999999999998, -100.24700000000001)"
4922,17.612,-98.769,331.7,1.0,1.0,2020-03-28,1715,T,78,6.0NRT,306.7,18.5,D,"(17.612000000000002, -98.76899999999999)"
4923,17.610,-98.759,322.7,1.0,1.0,2020-03-28,1715,T,56,6.0NRT,307.6,7.6,D,"(17.61, -98.759)"